/*GRID BODY*/
footer {
    grid-area: footer;
}

/*STYLES FOOTER*/

footer {
    background-color: $colorNegro;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    i {
        color: $colorPrincipal;
        border: 1px solid $colorPrincipal;
        border-radius: 100px;
        padding: 30px;
        
        &:hover {
            color: $color3;
            border: 1px solid $color3;
        }
    }
}

/*CELULAR*/
@media (max-width:767px) {
   
    footer {
        background-color: $colorNegro;
        height: 350px;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        i {
            margin: 20px 0px;
        }
}
}
