 /*GRID BODY*/
header {
    grid-area: header;
}

/*ENCABEZADO DE PÁGINA*/
header h4 {
    background-color: $colorNegro;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-small;
    text-shadow: 0.08rem 0.08rem 0.08rem $colorBlanco;
}

/*CELULAR*/
@media screen and (max-width:767px) {
   
   }