/*GRID BODY*/
nav {
    grid-area: nav;
}

/*ESTILO BARRA DE NAV*/
nav {
    background-color: $colorNegro;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
    position: sticky;
    a {
        color: $colorBlanco;
        text-decoration: none;
    img {
        height: 4rem;
        width: 4rem;
       }
    }
}

@media (hover: hover) {
.hover1:hover {
        background-color: $colorPrincipal;
        color: $colorBlanco;
        border: 1rem transparent;
        transition-duration: 0.5s;
        border-radius: 0.3rem;
        font-size: 1.2rem;
}
}

.hover1:active {
    background-color: $colorNegro;
    color: $color3;
    transition-duration: 1s;
}

/*CELULAR*/
@media screen and (max-width:767px) {
 nav {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: center;
 }   
}