/*GRID BODY*/
section {
    grid-area: section;
}

/*SECTION STYLES*/


/*titulo cursos y servicios*/
section h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $colorNegro;
    height: 5rem;
    color: $colorBlanco;
    padding: 20px;


}


/*CAJAS PADRES*/
.boxCursos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    margin: 8rem 0px;
}

.boxServicios {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin: 8rem 0px;
}

/*CAJA HIJO*/
.boxSon {
    height: 300px;
    width: 300px;
    border: 0.5px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px 0px $colorNegro;
}

/*ESTILOS DE CAJAS HIJOS CURSOS*/
#curso1 {
    background-image: url("../media/soft/soft-gel.jpeg");
    background-repeat: no-repeat;
    background-size: 300px 300px;
    
/* &:hover{
    filter: blur(4px);
    transition: all 500ms ease-out;
 }
 */
 p {
    color:$color3;
    background-color:$colorNegroT;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
 }

 }
 
 #curso2 {
    background-image: url("../media/esculpidas/esculpidas-2.jpeg");
    background-repeat: no-repeat;
    background-size: 300px 300px;
    p {
        color:$color3;
        background-color:$colorNegroT;
       border-radius: 5px;
       padding: 5px;
       text-align: center;
    }
   
    }
    
    #curso3 {
        background-image: url("../media/nail-art/nail-art.jpeg");
        background-repeat: no-repeat;
        background-size: 300px 300px;
        p {
            color:$color3;
            background-color:$colorNegroT;
           border-radius: 5px;
           padding: 5px;
           text-align: center;
        }
       
        }

        #curso4 {
            background-image: url("../media/nail-art/nail-art-2.jpeg");
            background-repeat: no-repeat;
            background-size: 300px 300px;
            p {
                color:$color3;
                background-color:$colorNegroT;
              border-radius: 5px;
               padding: 5px;
               text-align: center;
            }
           
            }

            /*ESTILOS DE CAJAS HIJOS SERVICIOS*/

            #servicio1 {
                background-image: url("../media/capping/capping.jpeg");
                background-repeat: no-repeat;
                background-size: 300px 300px;
                p {
                    color:$color3;
                    background-color:$colorNegroT;
                  border-radius: 5px;
                   padding: 5px;
                   text-align: center;
                }
            }

            #servicio2 {
                background-image: url("../media/esculpidas/esculpidas.jpeg");
                background-repeat: no-repeat;
                background-size: 300px 300px;
                p {
                    color:$color3;
                    background-color:$colorNegroT;
                  border-radius: 5px;
                   padding: 5px;
                   text-align: center;
                  
                }
            }

            #servicio3 {
                background-image: url("../media/semipermanente/semipermanente.jpeg");
                background-repeat: no-repeat;
                background-size: 300px 300px;
                p {
                   color:$color3;
                   background-color:$colorNegroT;
                  border-radius: 5px;
                   padding: 5px;
                   text-align: center;
                  
                }
            }



            .contenedorHijoServicios {
   
                background-color: $color3;
                width: 400px;
                height: 620px;
                margin: 50px;
                border: 0.5px solid black;
                border-radius: 3px;
                padding: 20px;
                
                img {
                    width: 300px;
                    height:300px;
                    border: 0.5px solid black;
                    border-radius: 1000px;
                    box-shadow: 10px 10px 15px 0px $colorNegro;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                }
            }
            
            .contenedorServicios h4 {
                text-align: center;
                margin-top: 2rem;
            }
            
            .contenedorHijoServicios p {
                text-align: center;
                margin-top: 10px;
            }
            
            


            /*CELULAR*/
@media (max-width:767px) {

    /*CAJAS PADRES*/
.boxCursos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    margin: 8rem 0px;
    gap: 5rem;
}

.boxServicios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    margin: 8rem 0px;
    gap: 5rem;
}

/* PAGINA SERVICIOS.HTML*/
.contenedorServicios {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
}

}

/* PAGINA SERVICIOS.HTML*/
.contenedorServicios {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}



