/*GRID BODY*/
section {
    grid-area: section;
}

/*SECTION STYLES*/


/*titulo cursos y servicios*/
section main h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $colorNegro;
    height: 5rem;
    color: $colorBlanco;
    padding: 20px;


}


/*CAJAS PADRES*/
.boxCursos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    margin: 8rem 0px;
}

.boxServicios {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin: 8rem 0px;
}

/*CAJA HIJO*/
.boxSon {
    height: 300px;
    width: 300px;
    border: 0.5px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px 0px;
}

/*ESTILOS DE CAJAS HIJOS CURSOS*/
#curso1 {
 background-image: url("../media/soft/soft-gel.jpeg");
 background-repeat: no-repeat;
 background-size: 300px 300px;
 
 p {
    color:$colorNegro;
    background-color: $color3;
    border-radius: 5px;
    padding: 5px;
 }

 }
 
 #curso2 {
    background-image: url("../media/esculpidas/esculpidas-2.jpeg");
    background-repeat: no-repeat;
    background-size: 300px 300px;
    p {
       color:$colorNegro;
       background-color: $color3;
       border-radius: 5px;
       padding: 5px;
       text-align: center;
    }
   
    }
    
    #curso3 {
        background-image: url("../media/nail-art/nail-art.jpeg");
        background-repeat: no-repeat;
        background-size: 300px 300px;
        p {
           color:$colorNegro;
           background-color: $color3;
           border-radius: 5px;
           padding: 5px;
          
        }
       
        }

        #curso4 {
            background-image: url("../media/nail-art/nail-art-2.jpeg");
            background-repeat: no-repeat;
            background-size: 300px 300px;
            p {
               color:$colorNegro;
               background-color: $color3;
              border-radius: 5px;
               padding: 5px;
              
            }
           
            }

            /*ESTILOS DE CAJAS HIJOS SERVICIOS*/

            #servicio1 {
                background-image: url("../media/capping/capping.jpeg");
                background-repeat: no-repeat;
                background-size: 300px 300px;
                p {
                   color:$colorNegro;
                   background-color: $color3;
                  border-radius: 5px;
                   padding: 5px;
                }
            }

            #servicio2 {
                background-image: url("../media/esculpidas/esculpidas.jpeg");
                background-repeat: no-repeat;
                background-size: 300px 300px;
                p {
                   color:$colorNegro;
                   background-color: $color3;
                  border-radius: 5px;
                   padding: 5px;
                   text-align: center;
                  
                }
            }

            #servicio3 {
                background-image: url("../media/semipermanente/semipermanente.jpeg");
                background-repeat: no-repeat;
                background-size: 300px 300px;
                p {
                   color:$colorNegro;
                   background-color: $color3;
                  border-radius: 5px;
                   padding: 5px;
                   text-align: center;
                  
                }
            }

            