@charset "UTF-8";
/*GRID BODY*/
header {
  grid-area: header;
}

/*ENCABEZADO DE PÁGINA*/
header h4 {
  background-color: black;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  text-shadow: 0.08rem 0.08rem 0.08rem white;
}

/*CELULAR*/
/*GRID BODY*/
nav {
  grid-area: nav;
}

/*ESTILO BARRA DE NAV*/
nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  position: -webkit-sticky;
  position: sticky;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a img {
  height: 4rem;
  width: 4rem;
}

@media (hover: hover) {
  .hover1:hover {
    background-color: rgb(83, 36, 198);
    color: white;
    border: 1rem transparent;
    transition-duration: 0.5s;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    transition: all 500ms ease-out;
  }
}
.hover1:active {
  background-color: black;
  color: rgba(206, 225, 216, 0.8);
  transition-duration: 1s;
}

/*CELULAR*/
@media screen and (max-width: 767px) {
  nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
/*GRID BODY*/
section {
  grid-area: section;
}

/*SECTION STYLES*/
/*titulo cursos y servicios*/
section h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 5rem;
  color: white;
  padding: 20px;
}

/*CAJAS PADRES*/
.boxCursos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  margin: 8rem 0px;
}

.boxServicios {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  margin: 8rem 0px;
}

/*CAJA HIJO*/
.boxSon {
  height: 300px;
  width: 300px;
  border: 0.5px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 15px 0px black;
}

/*ESTILOS DE CAJAS HIJOS CURSOS*/
#curso1 {
  background-image: url("../media/soft/soft-gel.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  /* &:hover{
      filter: blur(4px);
      transition: all 500ms ease-out;
   }
   */
}
#curso1 p {
  color: rgba(206, 225, 216, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#curso2 {
  background-image: url("../media/esculpidas/esculpidas-2.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#curso2 p {
  color: rgba(206, 225, 216, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#curso3 {
  background-image: url("../media/nail-art/nail-art.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#curso3 p {
  color: rgba(206, 225, 216, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#curso4 {
  background-image: url("../media/nail-art/nail-art-2.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#curso4 p {
  color: rgba(206, 225, 216, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

/*ESTILOS DE CAJAS HIJOS SERVICIOS*/
#servicio1 {
  background-image: url("../media/capping/capping.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#servicio1 p {
  color: rgba(206, 225, 216, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#servicio2 {
  background-image: url("../media/esculpidas/esculpidas.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#servicio2 p {
  color: rgba(206, 225, 216, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#servicio3 {
  background-image: url("../media/semipermanente/semipermanente.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#servicio3 p {
  color: rgba(206, 225, 216, 0.8);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

/*CELULAR*/
@media (max-width: 767px) {
  /*CAJAS PADRES*/
  .boxCursos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    margin: 8rem 0px;
    gap: 5rem;
  }
  .boxServicios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    margin: 8rem 0px;
    gap: 5rem;
  }
  /* PAGINA SERVICIOS.HTML*/
  .contenedorServicios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
  }
}
/* PAGINA SERVICIOS.HTML*/
.contenedorServicios {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.contenedorHijoServicios {
  background-color: rgba(206, 225, 216, 0.8);
  width: 400px;
  height: 620px;
  margin: 50px;
  border: 0.5px solid black;
  border-radius: 3px;
  padding: 20px;
}
.contenedorHijoServicios img {
  width: 300px;
  height: 300px;
  border: 0.5px solid black;
  border-radius: 1000px;
  box-shadow: 10px 10px 15px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorServicios h4 {
  text-align: center;
  margin-top: 2rem;
}

.contenedorHijoServicios p {
  text-align: center;
  margin-top: 10px;
}

/*GRID BODY*/
footer {
  grid-area: footer;
}

/*STYLES FOOTER*/
footer {
  background-color: black;
  height: 200px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer i {
  color: rgb(83, 36, 198);
  border: 1px solid rgb(83, 36, 198);
  border-radius: 100px;
  padding: 30px;
}
footer i:hover {
  color: rgba(206, 225, 216, 0.8);
  border: 1px solid rgba(206, 225, 216, 0.8);
}

/*CELULAR*/
@media (max-width: 767px) {
  footer {
    background-color: black;
    height: 350px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer i {
    margin: 20px 0px;
  }
}
aside {
  background-image: url(../media/collage.png);
  background-repeat: no-repeat;
  filter: blur(2.5px);
  height: 20rem;
  width: 100%;
  /*margin: 25px 0px;*/
}

/*CELULAR*/
@media (max-width: 767px) {
  aside {
    background-image: url(../media/collage3.png);
    background-repeat: no-repeat;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* GRID */
body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header" "nav" "aside" "section" "footer";
}

a {
  text-decoration: none;
}

/* RESPONSIVE */
/*CELULAR*/
/*TABLET*//*# sourceMappingURL=styles.css.map */