@charset "UTF-8";
/*GRID BODY*/
header {
  grid-area: header;
}

/*ENCABEZADO DE PÁGINA*/
header h4 {
  background-color: black;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  text-shadow: 0.08rem 0.08rem 0.08rem white;
}

/*GRID BODY*/
nav {
  grid-area: nav;
}

/*ESTILO BARRA DE NAV*/
nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  position: -webkit-sticky;
  position: sticky;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a img {
  height: 4rem;
  width: 4rem;
}

@media (hover: hover) {
  .hover1:hover {
    background-color: rgb(83, 36, 198);
    color: white;
    border: 1rem transparent;
    transition-duration: 0.5s;
    border-radius: 0.3rem;
    font-size: 1.2rem;
  }
}
.hover1:active {
  background-color: black;
  color: rgba(206, 225, 216, 0.8);
  transition-duration: 1s;
}

/*GRID BODY*/
section {
  grid-area: section;
}

/*SECTION STYLES*/
/*titulo cursos y servicios*/
section main h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 5rem;
  color: white;
  padding: 20px;
}

/*CAJAS PADRES*/
.boxCursos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  margin: 8rem 0px;
}

.boxServicios {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  margin: 8rem 0px;
}

/*CAJA HIJO*/
.boxSon {
  height: 300px;
  width: 300px;
  border: 0.5px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 15px 0px;
}

/*ESTILOS DE CAJAS HIJOS CURSOS*/
#curso1 {
  background-image: url("../media/soft/soft-gel.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#curso1 p {
  color: black;
  background-color: rgba(206, 225, 216, 0.8);
  border-radius: 5px;
  padding: 5px;
}

#curso2 {
  background-image: url("../media/esculpidas/esculpidas-2.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#curso2 p {
  color: black;
  background-color: rgba(206, 225, 216, 0.8);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#curso3 {
  background-image: url("../media/nail-art/nail-art.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#curso3 p {
  color: black;
  background-color: rgba(206, 225, 216, 0.8);
  border-radius: 5px;
  padding: 5px;
}

#curso4 {
  background-image: url("../media/nail-art/nail-art-2.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#curso4 p {
  color: black;
  background-color: rgba(206, 225, 216, 0.8);
  border-radius: 5px;
  padding: 5px;
}

/*ESTILOS DE CAJAS HIJOS SERVICIOS*/
#servicio1 {
  background-image: url("../media/capping/capping.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#servicio1 p {
  color: black;
  background-color: rgba(206, 225, 216, 0.8);
  border-radius: 5px;
  padding: 5px;
}

#servicio2 {
  background-image: url("../media/esculpidas/esculpidas.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#servicio2 p {
  color: black;
  background-color: rgba(206, 225, 216, 0.8);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

#servicio3 {
  background-image: url("../media/semipermanente/semipermanente.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#servicio3 p {
  color: black;
  background-color: rgba(206, 225, 216, 0.8);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

/*GRID BODY*/
footer {
  grid-area: footer;
}

/*STYLES FOOTER*/
footer {
  background-color: black;
  height: 200px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer i {
  color: rgb(83, 36, 198);
  border: 1px solid rgb(83, 36, 198);
  border-radius: 100px;
  padding: 30px;
}
footer i:hover {
  color: rgba(206, 225, 216, 0.8);
  border: 1px solid rgba(206, 225, 216, 0.8);
}

aside {
  background-image: url(../media/collage.png);
  background-repeat: no-repeat;
  filter: blur(2.5px);
  height: 25rem;
  width: 100%;
  /*margin: 25px 0px;*/
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* GRID */
body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header" "nav" "aside" "section" "footer";
}

a {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */